
@import "~element-ui/packages/theme-chalk/src/common/var.scss";

$--font-path: '~element-ui/packages/theme-chalk/src/fonts';

$primary:      #11999e;
$menu-dark-title: #191a23;
$menu-dark-active-bg: #101117;
$menuSideWidth: 256px;
$trigger-background: #f8f8f8;

$title-color: #17233d;
$text-color: $--color-text-regular;
$layout-body-background: #f5f7f9;